// 
// Form
// 

.form-group {
    position: relative;
    margin-bottom: 2rem;
    label {
        position: absolute;
        transition: 0.2s all;
        top: 22px;
        left: 20px;
        
    }
    input, textarea {
        padding: 0.5rem 1rem; 
        min-width: 80%;
        border-radius: 2px;
        min-height: 4rem;
       &:focus ~ label {
        top: -10px;
      
       }
       &:valid ~ label {
        top: -10px;
       }
    }
}

input:focus + input {
    top: -10px;
}


