// 
// Reset
// 

h1,h2,h3, h5 {
    margin: 0 0 3rem 0;
 }
 ul {
    padding: 0;
 }
 
 body, h4, h5, ul {
     margin: 0;
 }
 
 ul, li {
     text-decoration: none;
     list-style-type: none;
     display: block;
 }
 
 nav {
     ul { 
        @extend .flex;
        @extend .jc_end; 
        li {
            a {
             @extend .p_1;
            }
        }
     }
 }
 
 a {
     text-decoration: none;
     padding: 1.2rem 2.5rem; 
     display: inline-block;
 }
 
textarea {
    background: none;
}