@font-face {
    font-family: ProximaNova-Semibold;
    src: url(./assets/fonts/ProximaNova-Semibold.ttf);
}

@font-face {
    font-family: ProximaNova-Regular;
    font-weight: 300;
    src: url(./assets/fonts/ProximaNova-Regular.ttf);
}

// 
// Typographies
// 

h1, h2, h5, h4, h6, .card-subtitle, button, a {
    font-family: ProximaNova-Semibold;  
}

body, p, h3 {
    font-family: ProximaNova-Regular;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 1.75rem;
}

h4 {
    @extend .mb_5;
}

h4, h5, .col ul {
    @extend .mb_2;
}

.col ul li {
    @extend .mb_1;
}

body {
    font-size: 1.2rem;
    line-height: 1.2;
}

h6, a, p, .card-subtitle, button {
    font-size: 1.2rem;
}

label, input {
    font-size: 1.3rem;
}


