.bg-primary {
  background-color: #6456F1;
}

.bg-secondary {
  background-color: #37CD8F;
}

.bg-light {
  background-color: #4c4d4c;
}

.bg-dark, .card {
  background-color: #424342;
}

.form-group label,
.form-group input {
  background-color: #424342;
}

body {
  background-color: #282828;
}

.borderBox, input, .card, textarea {
  border: 2px solid #fff;
  -webkit-box-shadow: 8px 8px 0 rgba(100, 86, 241, 0.3);
          box-shadow: 8px 8px 0 rgba(100, 86, 241, 0.3);
}

.btn {
  background-color: #6456F1;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-box-shadow: 8px 8px 0 rgba(100, 86, 241, 0.3);
          box-shadow: 8px 8px 0 rgba(100, 86, 241, 0.3);
}

.btn:hover {
  background-color: #5b4df0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

a, #banner, .form-group input, footer, .bg-dark, .card, .list-filtre, h2 {
  color: #fff;
}

nav ul li a {
  color: #fff;
}

nav ul li:hover {
  color: #cccccc;
}

.list-filtre li {
  border: 2px solid #fff;
  margin-right: 1rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: 8px 8px 0 rgba(100, 86, 241, 0.3);
          box-shadow: 8px 8px 0 rgba(100, 86, 241, 0.3);
}

.featured-text {
  background: #4608ad;
  padding: 1.5rem;
  text-align: center;
  color: white;
}

h1, h2, h3, h5 {
  margin: 0 0 3rem 0;
}

ul {
  padding: 0;
}

body, h4, h5, ul {
  margin: 0;
}

ul, li {
  text-decoration: none;
  list-style-type: none;
  display: block;
}

a {
  text-decoration: none;
  padding: 1.2rem 2.5rem;
  display: inline-block;
}

textarea {
  background: none;
}

.p_1, nav ul li a {
  padding: 1rem;
}

.px_1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py_1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.m_1 {
  margin: 1rem;
}

.mx_1, .container, .container .row .col {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my_1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mb_1, .col ul li {
  margin-bottom: 1rem;
}

.p_2, #projects .row .card:hover .card-body, .slide, .col, .card {
  padding: 2rem;
}

.px_2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py_2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.m_2 {
  margin: 2rem;
}

.mx_2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my_2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mb_2, #services .row, h4, h5, .col ul {
  margin-bottom: 2rem;
}

.p_3 {
  padding: 3rem;
}

.px_3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py_3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.m_3 {
  margin: 3rem;
}

.mx_3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my_3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mb_3, #projects .row .card {
  margin-bottom: 3rem;
}

.p_4 {
  padding: 4rem;
}

.px_4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py_4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.m_4 {
  margin: 4rem;
}

.mx_4 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.my_4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mb_4 {
  margin-bottom: 4rem;
}

.p_5 {
  padding: 5rem;
}

.px_5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.py_5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.m_5 {
  margin: 5rem;
}

.mx_5 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.my_5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.mb_5, h4 {
  margin-bottom: 5rem;
}

.p_6 {
  padding: 6rem;
}

.px_6 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.py_6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.m_6 {
  margin: 6rem;
}

.mx_6 {
  margin-left: 6rem;
  margin-right: 6rem;
}

.my_6 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.mb_6 {
  margin-bottom: 6rem;
}

.p_7 {
  padding: 7rem;
}

.px_7 {
  padding-left: 7rem;
  padding-right: 7rem;
}

.py_7 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.m_7 {
  margin: 7rem;
}

.mx_7 {
  margin-left: 7rem;
  margin-right: 7rem;
}

.my_7 {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.mb_7 {
  margin-bottom: 7rem;
}

.p_8 {
  padding: 8rem;
}

.px_8 {
  padding-left: 8rem;
  padding-right: 8rem;
}

.py_8 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.m_8 {
  margin: 8rem;
}

.mx_8 {
  margin-left: 8rem;
  margin-right: 8rem;
}

.my_8 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.mb_8 {
  margin-bottom: 8rem;
}

.p_9 {
  padding: 9rem;
}

.px_9 {
  padding-left: 9rem;
  padding-right: 9rem;
}

.py_9 {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.m_9 {
  margin: 9rem;
}

.mx_9 {
  margin-left: 9rem;
  margin-right: 9rem;
}

.my_9 {
  margin-top: 9rem;
  margin-bottom: 9rem;
}

.mb_9 {
  margin-bottom: 9rem;
}

.p_10 {
  padding: 10rem;
}

.px_10 {
  padding-left: 10rem;
  padding-right: 10rem;
}

.py_10 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.m_10 {
  margin: 10rem;
}

.mx_10 {
  margin-left: 10rem;
  margin-right: 10rem;
}

.my_10 {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.mb_10 {
  margin-bottom: 10rem;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flex, nav ul, .container .row, #banner, .list-filtre, .center, footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jc_end, nav ul {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.jc_between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jc_center, .center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ai_center, #banner, .center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .row {
  position: relative;
  margin-left: -1rem;
  margin-right: -1rem;
}

.container .row .col {
  max-width: 100%;
}

#banner {
  min-height: 100vh;
}

.avatar {
  width: 90px;
}

.tech {
  width: 8rem;
}

.list-filtre {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-filtre li {
  display: inline-block;
  padding: 1.2rem 2.5rem;
}

.card {
  position: relative;
}

.card .avatar {
  position: absolute;
  top: -45px;
}

#projects .row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#projects .row .card {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 0;
}

#projects .row .card .card-body {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #6456f1;
  width: 100%;
  height: 0;
  opacity: 0;
}

#projects .row .card:hover .card-body {
  height: 100%;
  display: block;
  opacity: 1;
}

img {
  width: 100%;
}

.laptop {
  position: relative;
}

.glow {
  position: absolute;
  width: 200px;
  left: 38%;
}

#services .row .col {
  border: 2px solid #fff;
  -webkit-box-shadow: 8px 8px 0 rgba(100, 86, 241, 0.3);
          box-shadow: 8px 8px 0 rgba(100, 86, 241, 0.3);
}

.slick-slide {
  margin-right: 1rem;
}

.slick-dots li button:before {
  font-size: 15px !important;
}

.slick-arrow {
  display: none !important;
}

.slick-dots {
  top: 500px;
}

@font-face {
  font-family: ProximaNova-Semibold;
  src: url(./assets/fonts/ProximaNova-Semibold.ttf);
}

@font-face {
  font-family: ProximaNova-Regular;
  font-weight: 300;
  src: url(./assets/fonts/ProximaNova-Regular.ttf);
}

h1, h2, h5, h4, h6, .card-subtitle, button, a {
  font-family: ProximaNova-Semibold;
}

body, p, h3 {
  font-family: ProximaNova-Regular;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 1.75rem;
}

body {
  font-size: 1.2rem;
  line-height: 1.2;
}

h6, a, p, .card-subtitle, button {
  font-size: 1.2rem;
}

label, input {
  font-size: 1.3rem;
}

.form-group {
  position: relative;
  margin-bottom: 2rem;
}

.form-group label {
  position: absolute;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  top: 22px;
  left: 20px;
}

.form-group input, .form-group textarea {
  padding: 0.5rem 1rem;
  min-width: 80%;
  border-radius: 2px;
  min-height: 4rem;
}

.form-group input:focus ~ label, .form-group textarea:focus ~ label {
  top: -10px;
}

.form-group input:valid ~ label, .form-group textarea:valid ~ label {
  top: -10px;
}

input:focus + input {
  top: -10px;
}

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(66, 66, 66, 0.7)), to(rgba(66, 66, 66, 0.7))), url("./assets/img/bg-1.jpg");
  background-image: linear-gradient(rgba(66, 66, 66, 0.7), rgba(66, 66, 66, 0.7)), url("./assets/img/bg-1.jpg");
}

header, #projects {
  margin-bottom: 14rem;
}

nav a {
  display: inline-block;
}

footer {
  margin-top: 6rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer a {
  padding: 0.75rem;
}

footer .social {
  width: 2rem;
}

.row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  font-size: 4rem;
}

h3 {
  font-size: 1.5rem;
}

@media only screen and (min-width: 750px) {
  .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=App.css.map */