/*------------------------------------------
-----------------   Fonts   ----------------
------------------------------------------*/

@font-face {
  src: url("../fonts/ProximaNova-Bold.ttf");
  font-family: "ProximaNova-Bold";
}

@font-face {
  src: url("../fonts/ProximaNova-Regular.ttf");
  font-family: "ProximaNova-Regular";
}

.footer-sm ul li,
.footer-sm ul li a,
.footer-sm h6,
.form input,
#email-error,
.yd-reviews .intro p:nth-child(4),
#response,
#response h4 {
  font-size: 13px;
}

p,
.navbar .nav-item {
  font-size: 14px;
}

.nav-white .nav-item .nav-link,
.footer-sm ul li,
.footer-sm ul li a {
  font-size: 15px;
}

.hero h5 {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 1px;
}

.hero h2 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -1px;
}

.hero p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0;
}

.form-note p {
  font-size: 12px;
}

.form input {
  font-weight: 500;
}

.form .submit-button {
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0;
}

#email-error {
  font-weight: 500;
}

.footer-sm .footer-logo {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
}

.yd-reviews .card-single .review-attribution h6 {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.4;
}

.yd-reviews .card-single .review-attribution h2 {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.4;
}

.yd-reviews .card-single h1 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0;
}

.yd-reviews .intro h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
}

.service-box h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
}

.service-box p {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.01em;
}

.service-intro h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
}

.service-intro p {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.01em;
}

.flex-inner .f-text .left-content a {
  font-size: 14px;
  font-weight: bold;
}

.flex-inner .f-text h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
}

.flex-inner .f-text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.01em;
}

.flex-intro h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.3;
}

.flex-intro p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.01em;
}

.flex-split .f-left h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
}

.flex-split .f-left p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 1px;
}

.service-intro h2 {
  font-size: 32px;
}

.footer-sm .footer-logo {
  font-size: 16px;
}

.pricing-intro h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.4;
}

.pricing-intro p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.01em;
}

#response,
#response h4 {
  font-size: 13px !important;
  font-weight: 500 !important;
}

.yd-reviews .intro p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
}

.btn-action {
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.intro h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3;
}

.intro p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.01em;
}

.card-text h3 {
  font-size: 21px;
  font-weight: 600;
}

.card-text p {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
}

.flex-inner .f-text h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -1px;
}

.flex-inner .f-text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.01em;
}

.flex-inner .f-text .left-content a {
  font-size: 14px;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand,
.service-intro p,
.flex-inner .f-text p {
  font-size: 16px;
}

.footer-logo {
  font-size: 18px;
}

.navbar a {
  font-size: 24px;
}

.hero h2 {
  font-size: 38px;
}

.pricing-intro h1,
.cta-sm h1,
.yd-reviews .intro h1,
.yd-stats .intro h2,
.intro h2,
.flex-split .f-left h2 {
  font-size: 34px;
}

.footer-sm ul li,
.navbar .nav-item {
  font-weight: 400;
}

.footer-sm h6,
.footer-sm ul li a,
.navbar.past-main .nav-item .nav-link,
.flex-inner .f-text p {
  font-weight: 500;
}

.footer-sm .footer-logo,
.navbar .navbar-brand {
  font-weight: 600;
}

.back-to-top {
  font-weight: 700;
}

.flex-inner .f-text h1 {
  font-size: 32px;
}


h1,
h2,
h3,
h4,
h5,
.navbar-brand,
.footer-sm .footer-logo,
.footer-sm .ul li,
.back-to-top,
.navbar,
.btn-action,
a {
  font-family: "ProximaNova-Bold";
}

p,
input,
textarea,
h6 {
  font-family: "ProximaNova-Regular";
}

.footer-sm h6,
.footer-sm .footer-logo,
.footer-sm ul li,
.footer-sm,
.navbar,
.navbar-brand {
  letter-spacing: 0;
}

.navbar .nav-item,
.nav-white .nav-item .nav-link {
  text-transform: capitalize;
}
