/*------------------------------------------
-------------- Media Queries ---------------
------------------------------------------*/

@media only screen and (min-width: 240px) {
  .navbar.past-main {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: none !important;
  }

  #reviews {
    .cardBox {
      .card-icon {
        order: 2;
      }
      .card-img {
        img {
          width: 80px;
          margin: 0 auto;
          margin-bottom: 20px;
        }

        h3 {
          margin-bottom: 10px;
        }
      }
      .card-text {
        height: 240px;
        margin-bottom: 10px;
      }
    }
  }

  .navbar.effect-main {
    transition: all 0.3s;
  }

  .navbar.past-main span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .nav-white.effect-main {
    transition: all 0.3s;
  }

  /*----------------------------------------------------------
    --------------- Hero Home Styling Starts -------------------
    ----------------------------------------------------------*/

  .hero {
    padding: 100px 0 150px 0;
  }

  .hero h5 {
    margin-bottom: 20px;
  }

  .hero p {
    margin-top: 20px;
  }

  .hero img {
    margin-top: 1.5625rem;
  }

  .hero-img-box img {
    margin-top: 50px;
  }

  .hero .row,
  .app-feature .row,
  .flex-split .row,
  .hero .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .align-center {
    align-items: center !important;
  }

  .form {
    padding-top: 25px;
    position: relative;
  }

  .form input {
    padding: 0;
    height: 45px;
    border: 0;
    border-radius: 30px;
    outline: none;
    padding: 0 100px 0 20px;
    box-shadow: 0 5px 30px rgba(255, 255, 255, 0.1);
  }

  .form input:focus {
    outline: none !important;
    border-color: transparent;
  }

  .form .submit-button {
    height: 45px;
    border: 0;
    border-radius: 30px;
    margin-left: -50px;
    padding: 0 25px 0 25px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 5px 30px rgba(255, 255, 255, 0.05);
    transition: 500ms;
  }

  #email-error {
    position: absolute;
    left: 20%;
    right: 0;
    bottom: 0%;
  }

  #response {
    position: absolute;
    left: 20%;
    bottom: -90%;
    vertical-align: middle;

    margin: 0 !important;
  }

  #response h4 {
    text-align: center;
  }

  @media only screen and (max-width: 420px) {
    .form input {
      padding: 0 75px 0 20px;
    }

    .form .submit-button {
      margin-left: 0;
      margin-top: 10px;
    }
  }

  .btn-action {
    display: inline-block;
    height: 45px;
    padding: 0 30px;
    text-align: center;
    margin: 20px 0;
    text-decoration: none !important;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid transparent !important;
    border-radius: 50px;
    box-sizing: border-box;
    transition: 0.2s;
  }

  .btn-action:hover {
    box-shadow: 0 5px 25px 0 rgba(0, 0, 100, 0.2);
    border: 1px solid transparent !important;
    outline: none !important;
    text-decoration: none;
  }

  .btn-action:focus,
  .btn-action:active {
    border: 1px solid transparent !important;
    outline: none !important;
  }

  /*---------------------------------------------
    ----------- Features Section Styles------------
    ---------------------------------------------*/

  .features {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  #contact {
    padding-top: 100px;
  }

  .intro {
    margin-bottom: 50px;
  }

  .intro h2 {
    max-width: 540px;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .intro p {
    max-width: 540px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .cardBox {
    position: relative;
    margin: 30px 10px;
    padding: 50px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  .card-img img {
    vertical-align: middle;
  }

  .card-text h3 {
    margin-bottom: 15px;
  }

  .card-text p {
    max-width: 320px;
    margin: 0 auto;
  }

  .flex-inner {
    margin: 50px 0;
  }

  .flex-inner .f-image {
    padding: 0 35px;
  }

  .flex-inner .f-text {
    padding: 0 35px;
  }

  .flex-inner .f-text {
    flex: 1;
    text-align: center;
  }

  .flex-inner .f-text h1 {
    margin-top: 20px;
  }

  .flex-inner .f-text p {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .flex-inner .f-text .left-content a {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }

  /* ----- Client Sectiion Styling ----- */

  .client-section {
    background-color: #eef2f5;
    padding: 25px 25px;
    border: 1px solid #eef2f5;
  }

  .clients .single img {
    max-width: 50%;
    display: inline-block;
  }

  /* ----- Pricing Tables Styling Starts ----- */

  .pricing-section {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .pricing-intro h1 {
    margin-bottom: 50px;
  }

  .pricing-intro p {
    margin-top: 10px;
    margin-bottom: 50px;
  }

  .pricing-details {
    padding: 50px 0 0 0;
  }

  .pricing-section .table-left,
  .pricing-section .table-right {
    margin-top: 20px;
  }

  .pricing-section .table-center {
    margin-top: 0;
  }

  .btn-white {
    border-color: #ffffff !important;
  }

  /* ----- Features Section Styling Starts ----- */

  .flex-split {
    width: 100%;
    height: 100%;
    position: relative;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
  }

  .flex-split .f-left {
    flex: 1 0 50%;
    background: #f9f9f9;
  }

  .flex-split .f-right {
    flex: 1 0 50%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(86, 61, 124, 0));
    background-size: cover;
  }

  .flex-split .f-right img {
    margin-top: 0;
  }

  .flex-split .f-left {
    padding: 50px;
  }

  .flex-split .f-left h2 {
    margin-top: 40px;
  }

  .flex-split .f-left p {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .flex-split .btn-action {
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .main-2 .flex-split .f-right {
    flex: 1 0 50%;
    background-size: cover;
  }

  /*----------- Flex Features ------------*/

  .features-flex {
    padding: 100px 0;
  }

  .flex-intro {
    margin-bottom: 50px;
    text-align: center;
  }

  .flex-intro h2 {
    margin-bottom: 10px;
  }

  .flex-intro p {
    max-width: 630px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .flex-inner {
    margin: 50px 0;
  }

  .flex-inner .f-image {
    padding: 0 35px;
  }

  .flex-inner .f-text {
    padding: 0 35px;
  }

  .flex-inner .f-text {
    flex: 1;
    text-align: center;
  }

  .flex-inner .f-text h2 {
    margin-top: 20px;
  }

  .flex-inner .f-text p {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .flex-inner .f-text .left-content a {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }

  .flex-inner .f-text .left-content a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20%;
    height: 1px;
    width: 50px;

    transition: 0.3s;
  }

  .flex-inner .f-text .left-content a:hover::after {
    width: 75px;
  }

  .flex-inner .f-text .left-content a:hover {
    text-decoration: none;
  }

  .flex-inner.flex-inverted .f-image {
    order: 1;
  }

  /*----------------------------------------------
            ------------ Service Section Styling ------------
            ----------------------------------------------*/

  .services-section {
    padding: 75px 0;
  }

  .service-intro {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .service-intro h2 {
    margin-top: 20px;
  }

  .service-intro p {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .service-box {
    text-align: left;
    padding: 20px 20px;
    overflow: hidden;
  }

  .service-box p {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .service-box .service-icon {
    float: left;
    width: 15%;
  }

  .service-box .service-icon img {
    margin-top: 0;
    vertical-align: middle;
  }

  .service-box .service-text {
    float: right;
    width: 80%;
  }

  /*----------------------------------------------
        ------------ Review Section Styling ------------
        ----------------------------------------------*/

  .yd-reviews {
    padding: 100px 0 100px 0;
    background-size: cover;
  }

  .yd-reviews .intro {
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .yd-reviews .intro h1 {
    margin-bottom: 20px;
  }

  .yd-reviews .intro p {
    margin: 0px auto;
  }

  .yd-reviews .intro a {
    text-decoration: none;
  }

  .yd-reviews .card-single {
    display: block;
  }

  .yd-reviews .card-single .review-text {
    padding-top: 10px;
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
    height: 500px;
  }

  .yd-reviews .card-single .review-attribution {
    padding-bottom: 30px;
  }

  .yd-reviews .card-single h1 {
    margin-bottom: 0;
  }

  .yd-reviews .card-single .review-attribution h2 {
    margin-top: 5px;
  }

  .yd-reviews .card-single .review-attribution a {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }

  .yd-reviews .card-single .review-attribution a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -3px;
    left: 0;
    background-color: #4285f4;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
  }

  .yd-reviews .card-single .review-attribution a:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }

  .yd-reviews .card-single .review-attribution .review-img {
    text-align: center;
    margin-bottom: 20px;
  }

  .yd-reviews .card-single .review-attribution img {
    height: 60px;
    width: 60px;
    margin: 0 auto;
  }

  /*--------------------------------------------------------------
        -------------------- Footer Small Styling Starts ---------------
        --------------------------------------------------------------*/

  .footer-sm {
    padding: 30px 0;
    background: rgba(30, 166, 154, 0.1);
    background: #f6f6fd;
    background: #555da8;
    background: #303c42;
    text-align: center;
  }

  .footer-sm .col-md-4:nth-child(even) {
    text-align: center;
  }

  .footer-sm .footer-logo {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
  }

  .footer-sm h6 {
    letter-spacing: 0;
    display: inline-block;
  }

  .footer-sm ul {
    list-style-type: none;
    text-align: center;
    margin-top: 10px;
  }

  .footer-sm ul li {
    letter-spacing: 0;
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
  }

  .footer-sm ul li a {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }

  .footer-sm ul li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -3px;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
  }

  .footer-sm ul li a:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }

  .no-touch .footer-sm ul li a:hover {
    text-decoration: none;
  }
}

@media only screen and (min-width: 480px) {
  .container-s {
    padding-left: 40px;
    padding-right: 40px;
  }

  .flex-inner .f-text {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: left;
  }
  .yd-reviews .card-single .review-text {
    padding-left: 50px;
    padding-right: 50px;
    height: 350px;
  }
}

@media only screen and (max-width: 766px) {
  .hero .hero-content {
    text-align: center;
  }

  .slick-slide {
    padding-left: 0;
    padding-right: 0;
  }

  .flex-split .f-right {
    flex: 1 0 50%;
    height: 360px;
  }

  .hero-split .f-right {
    flex: 1 0 50%;
    height: 360px;
  }

  .flex-split .video-icon {
    display: none;
  }

  .flex-split .f-left {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-white .nav-item .nav-link {
    color: #4957b8;
  }

  .navbar .btn-cta {
    padding: 0 30px;
  }
}

@media only screen and (min-width: 767px) {
  .navbar-nav {
    margin-top: 0;
  }

  #reviews {
    .cardBox {
      .card-text {
        height: 175px;
        margin-bottom: 10px;
      }
    }
  }

  .yd-reviews .card-single .review-text {
    padding-left: 50px;
    padding-right: 50px;
    height: 275px;
  }

  .navbar-nav .nav-item {
    margin-top: 0;
    margin-right: 0px;
  }

  .container-s {
    padding-left: 20px;
    padding-right: 20px;
  }

  .flex-inner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin: 50px 0;
  }

  .flex-inner .f-image {
    flex: 0 0 400px;
  }

  .hero {
    padding: 175px 0 200px 0;
  }

  .hero .feature-img {
    margin-bottom: 0;
  }

  .flex-split {
    flex-direction: row;
  }

  .flex-split .f-left {
    padding: 50px;
  }

  .flex-split .f-right {
    flex: 1 0 50%;
  }

  .ar-feature {
    display: flex;
    align-items: center;
  }

  .ar-feature .ar-image {
    margin-left: 25px;
  }

  .service-box {
    padding: 30px 30px;
  }

  .footer-sm {
    text-align: left;
  }

  .footer-sm .footer-logo {
    margin-bottom: 0;
    display: block;
  }

  .footer-sm ul {
    list-style-type: none;
    text-align: right;
    margin-top: 0;
  }

  #email-error {
    left: 30%;
  }

  #response {
    left: 30%;
  }

  #chimp-email-error {
    left: 30%;
  }
}

@media only screen and (min-width: 1024px) {
  .hero img {
    margin-top: 0;
  }

  .hero .hero-content {
    text-align: left;
  }

  .service-box {
    padding: 30px 50px;
  }

  .service-box .service-text {
    float: right;
    width: 85%;
  }

  .flex-split .f-left {
    padding: 80px 100px;
  }

  #email-error {
    left: 0;
  }

  #chimp-email-error {
    left: 0%;
  }

  #response {
    left: 0;
  }
}
