/*------ Navbar Styling ------*/

.navbar {
  font-family: "Montserrat";
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: transparent !important;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.navbar .navbar-brand {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  color: #959597 !important;
  vertical-align: middle;
}

.navbar .navbar-brand img {
  vertical-align: middle;
  margin-right: 0.3em;
}

.navbar .navbar-toggler {
  border: none;
}

.navbar span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar span.navbar-toggler-icon::before {
  outline: none;
}

.navbar .navbar-toggler:focus {
  outline: none;
}

.navbar-nav {
  text-align: center;
  margin-top: 15px;
  background-color: transparent;
  -webkit-transition: 0.5s all ease; /* For Safari 3.1 to 6.0 */
  transition: 0.5s all ease;
}

.navbar-nav .nav-item {
  margin-right: 0;
  margin-top: 1.5rem;
  font-size: 0.85rem;
  font-weight: 400;
  text-transform: capitalize;
  color: #563d7c;
}

.navbar-nav .nav-item .nav-link {
  color: #364655;
  font-weight: 500;
}

.nav-white .navbar-nav {
  background: transparent;
}

.nav-white .nav-item .nav-link {
  font-size: 0.92rem;
  text-transform: capitalize;
  color: #ffffff;
}

.nav-white .nav-item .nav-link:hover {
  color: #00eaff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-white .navbar-brand {
  color: #ffffff;
}

.menu {
  height: 100vh;
  width: 0;
  background: black;
  position: absolute;
  left: -250px;
  display: none;
}

.navbar-toggler {
  background-color: #fff;
}

#menu-toggler {
  position: fixed;
  right: 25px;
  top: 10px;
  transition: 0.5s;
  &:not(.collapsed) {
    right: 80%;
  }
}

.navbar-nav {
  position: fixed !important;
  height: auto;
  width: 0;
  right: 0;
  opacity: 0;
  left: 0;
  transition: 0.4s;
  top: 0;
  height: 100%;

  margin-top: 0 !important;
  background: #fff !important;
  a {
    font-size: 1.5rem;
    text-align: right;
    position: absolute;
    opacity: 0;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
    right: -100%;
    &.link-1,
    &.link-2,
    &.link-3,
    &.link-4,
    &.link-5 {
      
      transition: 0.5s;

   
    }
    &.link-1 {
      top: 10%;
    
    }
    &.link-2 {
      top: 20%;
      transition-delay: 0.2s;
    }
    &.link-3 {
      top: 30%;
      transition-delay: 0.4s;
    }
    &.link-4 {
      top: 40%;
      transition-delay: 0.6s;
    }
    &.link-5 {
      top: 50%;
      transition-delay: 0.8s;
    }
  }
}

.collapse.show {
  .navbar-nav {
    width: 70%;
    opacity: 1;
    .link-1,
    .link-2,
    .link-3,
    .link-4,
    .link-5 {
      opacity: 1;
      right: 10%;
    }
  }
}



#toggle-navbar {
  position: fixed;
  left: 0;
  width: 30%;
  top: 0;
  height: 100%;
 
  z-index: -1;
}


#menu-toggler {
  svg {
    width: 35px;
  }
}

.menu-container {
  position: relative;
}



.bar1, .bar2, .bar3, .line {
     transition: 0.5s; 
}

.navbar-toggler{
  
  &:not(.collapsed) {
    .bar1 {
      transform: translate(15px,0px);
      .line {
        transform: rotate(45deg);
      }
    }
    .bar2 {
     opacity: 0;
      
    }
    .bar3 {
      transform: translate(-22px, 16px);
      .line {
        transform: rotate(-45deg);
      }
    }
  }
}

